@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Your Anime Home !</h1>
     <a class="navbar-brand" asp-area="" asp-controller="AnimeLists" asp-action="Index">
         <button type="button" class="btn btn-warning">Anime Lists</button>
    </a>
</div>
