@{
    ViewData["Title"] = "Anime Description";
}
<h1>@ViewData["Title"]</h1>



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - anime_list</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
   
  
<body>

<div class="card" style="width: 60rem;">
  <div class="card-body">
    <h2 class="card-title">Sypnosis</h2>
    <p class="card-text">On the day of Naruto Uzamaki's birth the village of Konoha was attacked by the 9-tailed fox demon.
         In order to protect the village Naruto's father the 4th hokage sacrificed his life and sealed the demon in his new born son.
          13 years later Naruto graduates the ninja academy and becomes a shinobi with goal to be the hokage of the village. 
          Joining him are rival Sasuke Uchiha who attempts to gain power to avenge his clan after they were murdered by his older brother Itachi. 
          And Sakura Haruno who is Naruto's love interest who of course loves his rival Sasuke.
           But when itachi returns to the village after the chunnin exams and Sasuke proves to be powerless against him. Sasuke will fall to the villainous Orochimaru to gain power.
         Naruto must do everything in his power to stop his friend from loosing himself to darkness even if it means losing himself.</p>
   
  </div>
</div>

<div class="card text-center" style="width: 60rem;">
  <div class="card-body">
    <h3 class="card-title">More Information</h3>
    <p class="card-text">
        <ul>
            <li>Seasons :</li>
             <li>Episodes :</li>
        </ul>
    </p>
    <a href="#" class="btn btn-primary">Rate</a>
  </div>
</div>


</body>
</html>